<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <h1>Welcome</h1>
          <p>Please Sign Up or Login before continuing.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4 m4 l4 xl4">
      <div class="center promo promo-example">
        <i class="material-icons">contacts</i>
        <p class="promo-caption">One location</p>
        <p class="light center">See everyone's contacts in one place. Stop asking co-workers to send you client's contact information.</p>
      </div>
    </div>
    <div class="col s4 m4 l4 xl4">
      <div class="center promo promo-example">
        <i class="material-icons">group</i>
        <p class="promo-caption">User Experience Focused</p>
        <p class="light center">While you can see everyone's contacts you can only edit and delete your own.</p>
      </div>
    </div>
    <div class="col s4 m4 l4 xl4">
      <div class="center promo promo-example">
        <i class="material-icons">settings</i>
        <p class="promo-caption">Easy to work with</p>
        <p class="light center">Easy to use software makes it simple to input and keep track of contacts</p>
      </div>
    </div>
  </div>
</div>  